.down-from-navbar {
  margin-top: 15px;
}

#login-buttons {
  padding: 17px 5px 17px 15px;
}

#login-dropdown-list {
  position: relative;
  padding-bottom: 20px;
}

/* lol it's a hackathon */
.like-a-button {
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(204, 204, 204);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 0px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
